*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#countries{
background-color: rgba(218, 218, 218, 0.3);
height: 15vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
#countries > h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 3px;
    color: orange;
    margin: 0px 0px 10px 0px;
}
#countries > p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgb(92, 92, 92);
   
}
.inputFeild{
    width: 50%;
    height: 8vh;
    margin: auto;
}
#inputF{
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    outline: none;
    border: 0.001rem solid rgb(211, 211, 211);
    color: rgb(75, 75, 75);
    padding: 7px 0px 7px 20px;
    font-size: 0.9rem;
    font-weight: 100;
    letter-spacing: 1px;
}
#inputF::placeholder{
    color: gray;
}
.buttons{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}
.buttons > button{
    cursor: pointer;
    text-align: center;
    background-color: orange;
    color: black;
    font-size: 0.7rem;
    padding: 8px 40px;
    
    border-radius: 30px;
    margin: 20px;
}
.wrapper{
    margin: auto;
    width: 98%;
    background-color: rgba(179, 179, 179, 0.3);
    height: max-content;
}
#countryBlockWrapper{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.countryBlock{
    height: 10rem;
    background-color: rgb(255, 255, 255);
    width: 10rem;
    text-align: center;
    position: relative;
    padding-top: 10px;
    margin: 5px 2.5px;

}
#countryName{
    color: rgb(255, 166, 0);
    font-size: 0.78rem;
    padding: 4px;
    margin-top: 6px;
    font-family: 'Josefin Sans', sans-serif;
}
#countryCapital{
    color: rgb(66, 66, 66);
    font-size: 0.80rem;
    padding: 3px;
    font-family: 'Josefin Sans', sans-serif;
}
#countryLang{
    color: rgb(66, 66, 66);
    font-size: 0.80rem;
    padding: 3px;
    font-family: 'Josefin Sans', sans-serif;
}
#countryPop{
    color: rgb(66, 66, 66);
    font-size: 0.80rem;
    padding: 3px;
    font-family: 'Josefin Sans', sans-serif;
}
    .bottomDiv{
        width: 100%;
        height: 10vh;
    }
    .borderNone{
        border: none;
    }
    .bordershow{
        border: 0.00000001rem solid rgb(94, 94, 94);
    }
